absl-py==0.12.0
apache-beam==2.31.0
astor==0.8.1
astunparse==1.6.3
attrs==21.2.0
avro-python3==1.9.2.1
blinker==1.4
brotlipy==0.7.0
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools @ file:///tmp/build/80754af9/cachetools_1596822027882/work
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625814692085/work
chardet @ file:///tmp/build/80754af9/chardet_1605303192865/work
clang==5.0
click==7.1.2
colorama==0.4.4
contextlib2==21.6.0
coverage @ file:///tmp/build/80754af9/coverage_1614614861224/work
crcmod==1.7
cryptography @ file:///tmp/build/80754af9/cryptography_1616767007030/work
cycler==0.10.0
Cython==0.29.24
dill==0.3.1.1
dm-tree==0.1.6
docopt==0.6.2
fastavro==1.4.4
flatbuffers==1.12
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gin-config==0.4.0
google-api-core==2.0.0
google-api-python-client==2.17.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.39.0
h5py==3.1.0
hdfs==2.6.0
httplib2==0.19.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
joblib==1.0.1
kaggle==1.5.12
keras==2.6.0
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.3.1
lvis==0.5.3
lxml==4.6.3
Markdown @ file:///tmp/build/80754af9/markdown_1614363852612/work
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
object-detection @ file:///lustrehome/home/a.mak80/Tensorflow/models/research
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
pandas==1.3.2
Pillow==8.3.1
portalocker==2.3.0
promise==2.3
protobuf==3.14.0
psutil==5.8.0
py-cpuinfo==8.0.0
pyarrow==4.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydot==1.4.2
PyJWT @ file:///tmp/build/80754af9/pyjwt_1619682484438/work
pymongo==3.12.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.3
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rsa @ file:///tmp/build/80754af9/rsa_1596998415516/work
sacrebleu==2.0.0
scikit-learn==0.24.2
scipy @ file:///tmp/build/80754af9/scipy_1618855955483/work
sentencepiece==0.1.96
seqeval==1.2.2
six==1.15.0
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.6.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-model-optimization==0.6.0
tensorflow-text==2.6.0
termcolor==1.1.0
text-unidecode==1.3
tf-models-official==2.6.0
tf-slim==1.1.0
threadpoolctl==2.2.0
tqdm==4.62.1
typeguard==2.12.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
Werkzeug==1.0.1
wrapt @ file:///tmp/build/80754af9/wrapt_1607574498026/work
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
